<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" 
    id="net.gelovenleren.alledaags"
    versionCode="11"
    version="2.0.1" >
  <name>Alledaags Geloven</name>
  <description>Jouw dashboard voor dagelijks gebed, studie of bezinning.</description>
  <author href="https://gelovenleren.net" email="info@gelovenleren.net">Geloven Leren</author>
  <preference name="phonegap-version" value="cli-9.0.0" />
  <preference name="pgb-builder-version" value="2" />
  <engine name="android" spec="8.0.0" />
  <platform name="android">
      <icon density="mdpi" src="icons/apple-touch-icon-57x57.png"/>
      <icon density="hdpi" src="icons/apple-touch-icon-72x72.png"/>
      <icon density="xhdpi" src="icons/apple-touch-icon-114x114.png"/>
      <icon density="xxhdpi" src="icons/apple-touch-icon-144x144.png"/>
      <icon density="xxxhdpi" src="icons/apple-touch-icon-120x120.png"/>
  </platform>
  <plugin name="cordova-plugin-whitelist" spec="~1.3.4" />
  <plugin name="cordova-plugin-inappbrowser" spec="~3.1.0" />
  <plugin name="cordova-plugin-x-socialsharing" spec="5.4.0" src="npm"/>
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <access origin="*" />
</widget>
